.env
.env.local
.env.*.local
.env.test
.env.*.test
.env.production
.env.*.production
.env.prod
.env.*.prod
/node_modules
/dist
/build
/.next
/out
/.vercel
/.vercel_build_output
/.turbo
.DS_Store
/.vscode

/src/generated/prisma
