services:
  nginx:
    container_name: nginx_proxy
    image: nginx:latest
    ports:
      - "80:80"
    restart: always
    depends_on:
      - backend
    networks:
      - public_network
  postgres-db:
    container_name: postgres_database
    image: postgres:16-alpine
    ports:
      - "5431:5432"
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - postgres_data:/var/lib/postgresql
    restart: always
    networks:
      - private_network
    env_file:
      - .env.prod
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER}"]
      interval: 10s
      timeout: 5s
      retries: 5
  redis:
    image: redis:latest
    container_name: redis
    ports:
      - "6379:6379"
    restart: always
  backend:
    container_name: backend_core
    build: .
    ports:
      - "5000:5000"
    environment:
      ENVIRONMENT: ${ENVIRONMENT}
      REDIS_HOST: redis
      REDIS_PORT: 6379
      PORT: 5000
      DATABASE_URL: ${DATABASE_URL}
    depends_on:
      postgres-db:
        condition: service_healthy
      redis:
        condition: service_started
    restart: always
    networks:
      - private_network
      - public_network
    env_file:
      - .env.prod
volumes:
  postgres_data:

networks:
  private_network:
    driver: bridge
  public_network:
    driver: bridge